body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html, body {
    width: 100vw;
    min-height: 100vh;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  width: 310px;
    max-width: 870px;
}
article{
  padding: 40px;
  flex-basis: 300px;
}
img{
  margin-bottom: 20px;
}
h1{
  margin-bottom: 20px;
  color: white;
}
p{
  margin-bottom: 20px;
  color: white;
  font-weight: normal;
}
.first{
  background-color: #e28525;
}
.second{
  background-color: #016972;
}
.third{
  background-color: #00403f;
}
.button1{
  background-color:  white;
  border-radius: 20px;
  color: #e28525;
  padding: 10px 25px;
  border: 2px solid white;
   transition: border .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}
.button1:hover{
  color: white;
   cursor: pointer;
   background-color: transparent;
}
.button2{
  background-color:  white;
  border-radius: 20px;
  padding: 10px 25px;
  color: #016972;
  border: 2px solid white;
   transition: border .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}
.button2:hover{
  color: white;
   cursor: pointer;
   background-color: transparent;
}
.button3{
  background-color:  white;
  border-radius: 20px;
  padding: 10px 25px;
  color: #00403f;
  border: 2px solid white;
   transition: border .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}
.button3:hover{
  color: white;
   cursor: pointer;
   background-color: transparent;
}
@media screen and (min-width: 870px) {
    main {
        width: 100%;
        flex-direction: row;
    }

    article p {
        margin-bottom: 60px;
    }
}
